/*
| =============================== start styles with :: P.Moahmmad.7749 :: ===== //
*/

.about__card__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding: 8px 14px;
  width: 100%;
  height: 250px;
  max-width: 465px;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: all 0.5s ease;
  &:hover{
    box-shadow: 0px 13px 28px 0px rgba(0, 0, 0, 0.06), 0px 51px 51px 0px rgba(0, 0, 0, 0.05), 0px 116px 69px 0px rgba(0, 0, 0, 0.03), 0px 206px 82px 0px rgba(0, 0, 0, 0.01), 0px 322px 90px 0px rgba(0, 0, 0, 0.00);
  }

  .about__header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    h1 {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }

    p {
      //width: 324px;
      font-size: 16px;
      font-weight: 500;
      color: #4D4D4D;
      text-align: center;
    }
  }
}




/*
| =============================== {responsive :mobile } ======//
*/

@media only  screen and (max-width: 320px) {
  .about__card__item {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 8px 14px;
    width: 100%;
    max-width: 465px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: all 0.5s ease;
    &:hover{
      box-shadow: 0px 13px 28px 0px rgba(0, 0, 0, 0.06), 0px 51px 51px 0px rgba(0, 0, 0, 0.05), 0px 116px 69px 0px rgba(0, 0, 0, 0.03), 0px 206px 82px 0px rgba(0, 0, 0, 0.01), 0px 322px 90px 0px rgba(0, 0, 0, 0.00);
    }

    .about__header__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

      h1 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
      }

      p {
        //width: 324px;
        font-size: 16px;
        font-weight: 500;
        color: #4D4D4D;
        text-align: center;
      }
    }
  }
}

/*
| =============================== end styles with :: P.Moahmmad.7749 :: ===== //
*/


