.courses__cards {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    //width: 100%;
    //max-width: 450px;
}

.courses__card {
    width: 100% ;
    max-width: 460px;
    //padding: 18px;
    transition: all 1s ease;
    

    .card__item {
        background-color: white;
        box-shadow: 0px 13px 28px 0px rgba(0, 0, 0, 0.06), 0px 51px 51px 0px rgba(0, 0, 0, 0.05), 0px 116px 69px 0px rgba(0, 0, 0, 0.03), 0px 206px 82px 0px rgba(0, 0, 0, 0.01), 0px 322px 90px 0px rgba(0, 0, 0, 0.00);
        border-radius: 10px;
        padding-bottom: 30px;
        overflow: hidden;
        //column-gap: 12px;
    }

    .courses__card {
        position: relative;
    }

    .card__item__body {
        display: flex;
        justify-content: space-between;
        margin-inline: 18px;
        margin-block: 15px;
        

        p {
            font-size: 22px;
            font-weight: 500;
        }

        padding:6px;
    }

    .btn-card {
        margin-top: 100px;
        padding: 14px 72px !important;
        height: 64px;
        position: absolute;
        top: -120px;
        right: 90px;
        
    }
}

.btn {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;

    padding: 14px 10px;
    border-radius: 10px;
    width: max-content;
    height: 47px;
    font-size: 16px;
    // font-weight: 600;

    
}

.cardbtn {
    position: relative;
    top: -20px;
    right:  90px;
    padding: 16px 70px;
}

.card__item__img {

    border-radius: 0px !important;
    overflow: hidden;

    border-radius: 5px;
   .card__item__img__imgtag{
       transition: all 0.5s ease;
       &:hover{
           transform: scale(1.05);
           rotate: 2deg;
       }
   }

}